.header{
// Hamburger open styles
&.open {

    .overlay {
        animation: fade-in 300ms ease-in-out   forwards;
    }

    .header__menu {
        > span:first-child {
            transform: rotate(45deg);
        }
        > span:nth-child(2){
            opacity: 0;
        }
            > span:last-child{
             transform: rotate(-45deg);   
            }
    }
    }
.overlay {
    //display: none;
    opacity: 0;
    position: absolute;
    top: 6.5rem;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient($coolColor, transparent);
}

    nav {
        padding: 24px;

    }

    &__logo {
        img{
            width: 8.8125rem;
        }
    }

    &__menu{ //mobile menu
        > span{
            display: block;
            width: 26px;
            height: 2px;
            background-color: #d64949;
            transition: all 300ms ease-in-out;
            transform-origin:  5px 1px;

            &:not(:last-child){
                margin-bottom: 3px;
            }
        }

        &.open {
            > span:first-child {
                transform: rotate(45deg);
            }

            > span:nth-child(2){
                opacity: 0;
            }
                > span:last-child{
                 transform: rotate(-45deg);   
                }
        }

    }

    &__links {
       

        a {
          position: relative;
          font-size: $font-sm; 
          color: 	#414a4c; 
          transition: color 300ms ease-in-out;

          &:not(:last-child){
              margin-right: 32px;
          }
          
          &::before{
              content: "";
              display: block;
              position: absolute;
              height: 5px;
              left: 0;
              right: 0;
              bottom: -30px;
              background-color: #990000;
              opacity: 0;
              transition: opacity 300ms ease-in-out;
          }
          &:hover {
              color: #d64949;

              &::before{
                opacity: 1;
              }
          }
        }
    }

    &__cta {
        font-size: $font-sm;
        color: #f9f9f9;
        transition: opacity 300ms ease-in-out;

        &:hover {
            opacity: 0.75;
            background-color: #ae0001;
        }
    
    }

}

