//Colors
$darkBlue:#ff9696;
$limeGreen:#ffd5a1;
$brightCyan:#d4ffb2;
$coolColor:#a94545;
//neutralColors
$grayishBlue:#d8edff;
$lightGrayish:#ecc9ff;
$veryLightGray:#c9caf6;
$white:#b2c3ff;

// fontSizes:
$font-med: 1.125rem; //14px
$font-sm: 0.875rem; //18px